<div class="main-container">
    <h2>Edit User</h2>

    <div class="main-data">
        <%= render 'form' %>
    </div>

    <div>
        <span style="margin-right: 5px"><%= user_workspace %></span>
    <div>
</div>