<div class="main_container">
    <div id="user_edit">
        <div class="main_data">
            <h2>Edit User</h2>
            <%= render 'form' %>
        </div>

        <nav class="bottom_navs">
            <span class="bottom_navs_span"><%= user_workspace %></span>
            <span class="bottom_navs_span"><%= link_to 'My Profile', user_path(@user) %></span>
        <nav>
    <div>
</div>