<div style="margin: 350px 0px 25px 0px;" >
    <div style="margin-bottom: 25px">
        <h2 style="margin-left: 105px; color: white">User Sign up</h2>
        
        <div style="margin-left: 105px">
            <%= render 'form' %>
        </div>
    </div>

    <div style="margin-left: 105px">
        <%= link_to 'Home', root_path, class: "hov-link", style: "color: white" %></p>
    </div>
</div>