<div style="margin: 575px 100px 25px 100px" >
    <div style="margin-bottom: 25px">
        <h2>User Sign up</h2>
        <%= render 'form' %>
    </div>

    <div>
        <%= link_to 'Home', root_path %></p>
    </div>
</div>
