<div id="signup_main_div">
    <div id="signup_div">
        <h2 id="signup_header">User Sign Up</h2>
        
        <div id="signup_form_div"">
            <%= render 'form' %>
        </div>
    </div>

    <p style="text-align: center;">
        <%= link_to 'Home', root_path, id: "home_link", class: "element_border_radius" %>
    </p>
</div>