<div style="margin: 575px 0px 25px 0px;" >
    <div style="margin-bottom: 25px">
        <h2 style="margin-left: 105px">User Sign up</h2>
        
        <div style="text-align: center">
            <%= render 'form' %>
        </div>
    </div>

    <div style="margin-left: 105px">
        <%= link_to 'Home', root_path %></p>
    </div>
</div>
