<p class="customers_show_p">
    <label class="customers_show_label">Email</label>
    <span class="customers_show_data"><%= @customer.email %></span>
</p>

<p class="customers_show_p">
    <label class="customers_show_label">Telephone</label>
    <span class="customers_show_data"><%= @customer.telephone %></span>
</p>

<p class="customers_show_p">
    <label class="customers_show_label">Service Insurance</label>
    <span class="customers_show_data"><%= @customer.has_service_insurance? %></span>
</p>

<p class="customers_show_p">
    <label class="customers_show_label">Created on</label>
    <span class="customers_show_data"><%= readable_created_at(@customer) %></span>
</p>