/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
   height: 100%;
}

body {
    height: 100%;
    background-color: #C0C0C0;
    font-family: Roboto, 'Droid Sans', Helvetica, sans-serif;
}

.img_container {
    height: 100%;
    width: 100%;
    background: url("jaguar_e-pace.jpeg") no-repeat center;
    background-size: contain;
    background-attachment: fixed;
}

.wrapper {
    max-width: 67.5%;
    margin: auto;
    margin-top: 20px;
    border-style: solid;
    border-color: transparent;
    clear: both;
}

.main-container {
    width: 95%;
    margin: 16px auto;
    border-radius: 20px;
    background:  rgba(255, 255, 255, 0.9);
}

.dealer_name_div h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 5rem;
    padding: 20px 0 0 20px;
    margin: 0;
    color: #FFF;
    display: inline;
}

div .main-data {
    margin-bottom: 25px;
    padding: 25px;
    text-align: center;
}

#top_navs_div {
    display: flex;
    position: fixed;
    top: 25px;
    right: 45px;
}

.nav_margin_left {
    margin-left: 5px;
}

.top_navs_link {
    background-color: #FFF;
    padding: 2.5px 10px;
    border-radius: 20px;
}

#signin_dealer_info_div {
    float: right;
    margin-right: 30px;
}

div .bottom-navs {
    text-align: center;
    padding-bottom: 30px;
}

.navs_span {
    margin-right: 10px;
}

table {
    border-collapse: collapse;
    width: 100%
 }
 th {
    background-color:  #C0C0C0;
 }
  
 th, td {
    text-align: left;
    padding: 5px;
 }
 
.label-width {
    display: inline-block; 
    width: 145px;
    font-weight: bold;
}

.element_border_radius {
    border-radius: 15px;
}

a {
    text-decoration: none;
    font-size: inherit;
}

.h2_link_style {
    font-size: 25px;
}

.flash_notice_span {
    padding: 3px 15px;
    background-color: #3a5f0b;
    color: #fff;
    display: inline-block;
}

.signin_inputs, .signup_inputs, #user_form_btn, #signin_btn {
    outline: none;
}

@media (max-width: 1080px) {
    .dealer_name_div h1 {
        font-size: 4rem;
    }
}

@media (max-width: 600px) {
    .dealer_name_div h1 {
        font-size: 2.2rem;
        padding: 10px 0 0 10px;
    }

    .wrapper {
       max-width: 100%;
       margin-top: 0;
    }

    #top_navs_div {
        top: 50px;
        right: 10px;
    }

    .top_navs_link {
        font-size: 0.7rem;
        padding: 1.5px 5px;
    }

    #signin_dealer_info_div {
        float: none;
        margin: auto;
        margin-top: 30px;
    }

    .img_container {
        background-repeat:  space round;
    }
}