// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#customers_new_edit {
    border: 1px solid #000;
    width: 400px;
    margin: auto;
    padding: 25px;
    box-sizing: border-box;
    text-align: center;
}

.customer_show_p {
    width: 400px;
    margin: 16px auto;
}

.customer_show_caption {
    display: inline-block;
    width: 150px;
    text-align: left;
    font-weight: bold;
}

.customer_show_data {
    display: inline-block;
    text-align: left;
    width: 240px;
}

.customer_form_inputs {
    display: block;
    width: 315px;
    margin: 16px auto;
    height: 25px;
    padding: 2px 10px;
    font-size: 16px
}

#customer_form_check_span {
    display: block;
    width: 335px;
    margin: 16px auto;
    height: 25px;
    padding-top: 5px;
    font-size: 17px
}

#insurance_select {
    display: inline-block;
    width: 70px;
    margin-left: 10px;
    padding: 2px 5px;
}

#customer_form_btn {
    display: block;
    width: 335px;
    margin: 35px auto;
    border: solid 2px #606060;
    height: 35px;
    padding-top: 3px;
    font-size: 16px;
}

#customers_notice_div {
    margin: 25px 0px 15px 0px;
    padding: 0px 15px;
    background-color: #e6ffe6;
    display: inline;
}

#search_input {
    text-align: center;
}

.customers_insurance_th, .customers_insurance_td1, .customers_insurance_td2 {
    text-align: center;
}

.customers_insurance_td1 {
    color: #008000;
}

.customers_insurance2_td {
    color: nil;
}

.customers_td_width {
    width: 15px;
}

.customers_td_text_align {
    text-align: left;
}