// Place all the styles related to the dealers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.dealer_edit_p {
    width: 400px;
    margin: 16px auto;
}

.dealer_edit_caption {
    display: inline-block;
    width: 150px;
    height: 25px;
    font-size: 16px;
    text-align: left;
    font-weight: bold;
}

.dealer_edit_inputs {
    display: inline-block;
    width: 220px;
    height: 25px;
    padding: 2px 10px;
    font-size: 16px;
    text-align: left;
}

#dealer_edit_btn {
    display: inline-block;
    width: 330px;
    height: 35px;
    font-size: 16px;
    border-radius: 20px;
    margin-top: 20px;
}
