// Place all the styles related to the dealers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#dealer_info_div {
    background: rgba(255, 255, 255, 0.85);
    width: 375px;
    margin-left: 40px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;
}

#web_links_div {
    margin-bottom: 10px;
    text-align: right;
    padding-right: 10px;
}

#address_telephone_div {
    padding-left: 10px;
}

.dealer_info_label {
    width: 125px;
    display: inline-block;
}

#address_sub_div {
    margin-bottom: 10px;
}

#label_margin_right {
    margin-right: 5px;
}

.text_color {
    color: red;
}

#contacts_table {
    width: 80%;
}

.td_caption {
    width: 165px;
    padding: 0 0 0 20px;
}

.td_info {
    padding: 0 0 0 10px;
}

.dealer_edit_p {
    width: 400px;
    margin: 10px auto;
}

.dealer_edit_caption {
    display: inline-block;
    width: 150px;
    height: 25px;
    text-align: left;
    font-weight: bold;
}

.dealer_edit_inputs {
    display: inline-block;
    width: 220px;
    height: 25px;
    padding: 2px 10px;
    text-align: left;
}

#dealer_edit_btn {
    display: inline-block;
    width: 330px;
    height: 35px;
    border-radius: 20px;
    margin-top: 20px;
}

#dealer_edit_btn, .dealer_edit_inputs, .dealer_edit_caption {
    font-size: inherit;
}

@media (max-width: 1350px) {
    #dealer_info_div {
        background: rgba(171, 172, 172, 0.75);
    }
}

@media (max-width: 500px) {
    #dealer_info_div {
        width: 250px;
        margin: 5px auto;
        padding: 5px;
        font-size: 0.5rem;
    }

    #web_links_div {
        margin-bottom: 5px;
    }

    #address_sub_div {
        margin-bottom: 5px;
    }

    .dealer_info_label {
        width: 75px;
    }

    .td_caption {
        width: 110px;
    }
}