// Place all the styles related to the services controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


#service_h2_div {
    margin-bottom: 50px;
}

#service_form_div {
    width: 400px;
    margin: auto;
}

#service_errors_ul {
    padding-left: 0px;
}

#service_errors_li {
    list-style: none;
    color: #ff0000;
}

.service_inputs {
    width: 375px;
    height: 25px;
    padding: 2px 10px;
    font-size:16px;
}

#services_form_btn {
    width: 330px;
    margin: 20px 0px;
    height: 35px;
    font-size: 16px;
    border-radius: 15px;
}