// Place all the styles related to the services controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#services_new_edit {
    border: 1px solid #000;
    width: 400px;
    margin: auto;
    padding: 25px;
    box-sizing: border-box;
    text-align: center;
}

.services_inputs, #services_form_btn {
    font-size: 1rem;
}

#services_h2_div {
    margin-bottom: 50px;
}

#services_errors_ul {
    padding-left: 0px;
}

#services_errors_li {
    list-style: none;
    color: #ff0000;
}

.services_inputs {
    width: 315px;
    height: 25px;
    padding: 2px 10px;
}

#services_form_btn {
    width: 335px;
    margin: 20px 0px;
    height: 35px;
    border-radius: 15px;
}