// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#signin_div {
    width: 400px;
    margin: auto;
    margin-top: 36.5px;
}

#signin_form_div {
    padding-top: 40px;
    text-align: center;
}

#signup_link {
    background: #006400;
    color: #fff;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    width: 320px;
    height: 25px;
    padding: 4px 5px 0px 5px;
    border: solid 2px #808080;
}

#signin_btn_p {
    margin-top: 30px;
}

#facebook_p {
    margin: 30px 0px 20px 0px;
}

#facebook_img {
    width: 200px;
    height: 32px;
}

#signin_btn, .signin_inputs, #signup_link {
    font-size: inherit;
}

#signin_btn {
    background: #C0C0C0;
    width: 335px;
    height: 32.5px;
}

.signin_inputs {
    width: 315px;
    height: 25px;
    padding: 2px 10px;
    display: block;
    margin: 15px auto;
}

#signin_span_errors  {
    background-color: #fff;
    color: red;
    padding: 2px 10px;
    font-size: 0.75rem;
}

@media (max-width: 600px) {
    #signin_btn, .signin_inputs, #signup_link {
        font-size: 0.8rem;
    }

    #signin_div {
        width: 260px;
    }

    #signin_form_div {
        width: 100%;
        padding-top: 55px;
    }

    .signin_inputs {
        width: 90%;
        height: 20px;
        margin: 5px auto;
    }

    #signin_btn_p {
        margin-top: 15px;
    }

    #signin_btn {
        width: 90%;
        height: 28px;
    }

    #signup_link {
        width: 87.5%;
        height: 20px;
        padding: 2px 0;
    }

    #facebook_p {
        margin-top: 20px;
    }

    #facebook_img {
        width: 120px;
        height: 25px;
    }

    #signin_span_errors  {
        font-size: 0.6rem;
    }

    .address_label {
        width: 65px;
    }
}