<%= render 'form' %>

<div>
    <span style="margin-right: 5px"><%= link_to 'My Workspace', user_workspace_path %></span>
    <span style="margin-right: 5px"><%= link_to "Customer's Profile", customer_path(@appointment.customer) %></span>
</div>