<div style="margin-top: 10px; margin-bottom: 10px">
    <div>
        <h1 style="font-size: 75px; margin-left: 50px; color: white"><%= dealer.name %></h1>
    </div>

    <div style="margin-left: 150px; margin-top: 50px">
        <%= render 'layouts/dealer_address'%>
    </div>
</div>