<div style="margin-top: 10px; margin-bottom: 10px">
    <div style="display: inline; float: left">
        <h1 style="font-size: 75px; margin-left: 50px; color: white"><%= dealer.name %></h1>
    </div>

    <div style="float: right; margin-right: 30px">
        <%= render 'layouts/dealer_address'%>
    </div>
</div>
